<table>
    <tr>
        <td><button type="button" (click)="operation('+')">+</button></td>
        <td><button type="button" (click)="operation('-')">-</button></td>
        <td><button type="button" (click)="operation('*')">x</button></td>
        <td><button type="button" (click)="operation('/')">&#247;</button></td>
    </tr>
    <tr>
        <td><button (click)="operation('7')">7</button></td>
        <td><button (click)="operation('8')">8</button></td>
        <td><button (click)="operation('9')">9</button></td>
        <td rowspan="4" (click)="result()"><button id="longbutton">=</button></td>
    </tr>
    <tr>
        <td><button (click)="operation('4')">4</button></td>
        <td><button (click)="operation('5')">5</button></td>
        <td><button (click)="operation('6')">6</button></td>
        
    </tr>
    <tr>
        <td><button (click)="operation('1')">1</button></td>
        <td><button (click)="operation('2')">2</button></td>
        <td><button (click)="operation('3')">3</button></td>
        
    </tr>
    <tr>
        <td><button (click)="operation('0')">0</button></td>
        <td><button (click)="operation('.')">.</button></td>
        <td><button (click)="clear()">AC</button></td>
    
    </tr>
</table>